.bg-primary.bg-lighten-5 {
  background-color: #F1EBFF !important; }

.btn-primary.btn-lighten-5 {
  border-color: #F1EBFF !important;
  background-color: #F1EBFF !important; }
  .btn-primary.btn-lighten-5:hover {
    border-color: #AC92EC !important;
    background-color: #AC92EC !important; }
